
/* COLORS */
@value very-light-gray: #c4c4c4;
@value light-gray: #606060;
@value dark-gray: #2a2d28;

@value green: #92f28a;

@value red: #ff4838;

@value lighter-blue: #96beff;
@value light-blue: #609dff;
@value blue: #5c95f2;
@value dark-blue: #003284;
