@value colors: "./colors.css";
@value green, dark-gray, light-gray, very-light-gray, blue, light-blue, dark-blue from colors;

html {
  background-color: dark-gray;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  background-size: cover;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: very-light-gray;
  margin-bottom: 10px;
}

input {
  font-size: 24px;
  margin: 1px;
  border-radius: 3px;
}

button {
  box-shadow: none;
  border-radius: 3px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

*:focus {
    outline: none;
}
