
@value colors: "../colors.css";
@value green, light-blue, lighter-blue, dark-gray from colors;

.header {
  margin: 0;
  padding: 30px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background-color: black;
}

.loginBtn {
  background-color: green;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  margin-left: auto;
}

.feedback {
  font-size: 18px;
  color: red;
  margin: 0;
}

.input {
  margin: 10px;
}

.link {
  color: light-blue;
  margin-right: auto;
  margin-left: 10px;
}

.link:hover {
  cursor: pointer;
  color: lighter-blue;
}

.hr  {
  width: 100%;
}

.slideInFromTop {
  animation-duration: 3s;
  animation-name: slideInFromTop;
  position: relative;
}

.logoImg {
  max-width: 500px;
}

@keyframes slideInFromTop {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}


.wrapper {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  animation-duration: 3s;
  animation-name: slideInFromBottom;
  position: relative;
}

@keyframes slideInFromBottom {
  from {
    bottom: -1000px;
  }

  to {
    bottom: 0px;
  }
}
