
@value colors: "../colors.css";
@value blue, dark-blue, light-blue from colors;

.notSelectedPage {
  background-color: dark-blue;
  color: white;
  padding: 15px;
}

.notSelectedPage:hover {
  background: blue;
  cursor: pointer;
}

.disabledPage, disabledPage:hover {
  background-color: gray;
  color: white;
  cursor: default;
  padding: 15px;
}

.selectedPage {
  background-color: light-blue;
  padding: 15px;
}

.selectedPage:hoever {
  background: blue;
  cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dark-blue;
    display: flex;
    justify-content: flex-end;
}
