
@value colors: "../../colors.css";
@value green, red, dark-blue, blue from colors;

.blackBox {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  display: inline-block;
  width: 60%;
  margin-top: 30px;
}

.text {
  color: white;
  margin: 2px;
}

.rightText {
  color: white;
  float: right;
}

.table {
  border: 3px solid white;
  border-collapse: collapse;
  color: white;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
}

.singleTable {
  border: 3px solid white;
  border-collapse: collapse;
  color: white;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 60%;
}

.tdEmpty {
  padding: 10px;
}

.th {
  border: 1px solid white;
}

.leaveBtn {
  background-color: red;
  padding: 10px;
  float: left;
}

.startBtn {
  background-color: green;
  padding: 10px;
  float: right;
}

.disabledBtn {
  background-color: gray;
  padding: 10px;
  float: right;
  color: black;
}

.joinTeamBtn {
  background-color: green;
  border-radius: 10px;
}

.bigWrapper {
  display: flex;
}

.teamsWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
