
@value colors: "../../colors.css";
@value green, red, dark-blue, blue from colors;


.text {
  color: white;
  margin: 20px;
}

.timer {
  color: white;
  margin: 0;
  float: left;
  font-size: 40px;
}

.blackBox {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  display: inline-block;
  width: 80%;
  margin-top: 30px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.lockedInImage {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  filter: grayscale(70%);
}

.image:hover {
  border: 2px solid blue;
  cursor: pointer;
}

.smallImage {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border-radius: 5px;
}

.lockedInSmallImage {
  filter: grayscale(70%);
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border-radius: 5px;
}

.lockIn {
  background-color: green;
  padding: 10px;
  float: right;
}

.disabled {
  background-color: gray;
  padding: 10px;
  float: right;
  color: black;
}
