
@value colors: "../../../colors.css";
@value green, red, dark-blue, blue from colors;

.notSelectedBtn {
  padding: 10px;
  background-color: dark-blue;
  color: white;
  font-size: 18px;
}

.selectedBtn {
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 18px;
}

.wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
}
