
@value colors: "../../../colors.css";
@value green, red, dark-blue, blue from colors;

.notSelectedBtn {
  padding: 10px;
  background-color: dark-blue;
  color: white;
  font-size: 18px;
  margin: 20px;
}

.selectedBtn {
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 18px;
  margin: 20px;
}

.wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
}

.text {
  color: white;
}

.submitBtn {
  background-color: green;
  padding: 5px;
  margin: 5px;
  color: light-gray;
  font-weight: bold;
  font-size: 20px;
}
