
@value colors: "../../../../colors.css";
@value green, red, dark-blue, blue from colors;


.notSelectedCircle {
  padding: 5px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background-color: dark-blue;
  color: white;
  display: inline-block;
  border-radius: 15px;
}

.selectedCircle {
  padding: 5px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background-color: blue;
  color: white;
  display: inline-block;
  border-radius: 15px;
}

.textLabel {
  display: inline-block;
  color: white;
  font-size: 20px;
}

.feedback {
  font-size: 18px;
  color: red;
  margin: 0;
}

.submitBtn {
  background-color: green;
  padding: 5px;
  margin: 5px;
  color: light-gray;
  font-weight: bold;
  font-size: 20px;
}
