
@value colors: "../../../../../js/colors.css";
@value green, red, dark-blue, blue, light-gray from colors;

.tableWrapper {
  overflow: auto;
  max-height: 50vh;
}

.findWrapper {
  width: 80%;
  margin: auto;
}

.table{
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.td {
  border: 1px solid white;
}

.th {
  padding: 10px;
  border: 1px solid white;
}

.gameRow {
  border: 1px solid white;
}

.gameRow:hover {
  cursor: pointer;
  background-color: light-gray;
}

.joinBtn {
  background-color: green;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cancelBtn {
  background-color: red;
  padding: 10px;
}

.feedback {
  font-size: 18px;
  color: red;
  margin: 5px;
}

.text {
  color: white;
  font-size: 18px;
}

.search {
  margin-bottom: 15px;
}

.lockIcon {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

.refreshStatic, .refreshStatic:hover {
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
}

.refreshSpin, .refreshSpin:hover {
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
  animation:spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
