@value colors: "../colors.css";
@value light-blue, dark-blue, green from colors;

.chatWrapper {
  margin-bottom: 15px;
}

.scrollPane {
  height: 150px;
  overflow: auto;
  text-align: start;
  border: 2px solid dark-blue;
  padding: 10px;
  margin-bottom: 10px;
}

.chatInput {
  font-size: 14px;
  width: 100%
}

.formContents {
  display: flex;
}

.sendButton {
  box-shadow: none;
  border-radius: 3px;
  border: 0;
  background-color: light-blue;
  font-size: 14px;
}

.playerName {
  color: green;
}

.message {
  color: light-blue;
}
